quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@573fc9e9917cf1f2c1acda9232c5a23a8a05d797
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@53911cbe32f6932e759522e54aa38ca5350aa44e
pandas
requests
pytz
pandas_market_calendars
yfinance
google-auth
google-cloud-secret-manager
google-cloud-storage
google-cloud-firestore
